<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/header.ejs")%>
<body>
    <%-include("./partials/navbar.ejs")%>
    <div>
        <h1><%=blog.title%></h1>
        <hr>
        <h3><%=blog.snippet%></h3>
        <h4><%=blog.body%></h4>
    </div>
    <br/>
    <br/>
    <div class="btns">  
        <form method="POST" action="/blogs/<%=blog._id%>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>
    <%-include("./partials/footer.ejs")%>
</body>
</html>